.explore {
  padding-top: 110px;
  text-align: center;
}
.explore-subtitle {
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  color: var(--dark-text-color);
  margin-bottom: 21px;
}
.link {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-text-color);
  margin-bottom: 128px;
}
.amazon-link {
  display: block;
  margin-bottom: 28px;
}
.explore-title {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 44px;
  font-weight: 400;
  width: 730px;
  margin: 0 auto;
}
