.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 367px;

  background-color: var(--hero--background);
  background-image: url('../images/img-hero.jpg');
  background-repeat: no-repeat;
  color: var(--white-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 24px;

  font-size: 72px;
  line-height: 1.11;
}

.hero-text {
  margin-bottom: 16px;

  font-size: 21px;
  line-height: 1.38;
}

.hero-button {
  padding: 19px 37px;

  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--white-color);
  font-size: 14px;
  line-height: 0.96;
  letter-spacing: 0.11px;
  color: var(--white-color);
  text-transform: uppercase;
}
