 </section>
      <section class="explore">
        <p class="explore-subtitle">Explore eero systems on</p>
         <a class="amazon-link" href="">
           <svg class="centerlogo" width="115" height="37">
            <use href="images/icons.svg#icon-amazon-logo-center"></use>
           </svg></a>
        <a class="link" href="">shop now</a>
         <h2 class="explore-title">
          More wifi for the devices in your connected home.
        </h2>
        <p>
          eero 6 systems use the power of Wi-Fi 6 to deliver faster speeds,
          increase your internet’s efficiency, and reduce network congestion. Say goodbye to dead spots and buffering with a connection that doesn’t
          slow you down, even as you add more devices.
        </p>
        <button>find your eero system</button>
        <img src="" alt="people in room" />
      </section>