<header>
  <p class="header-up">Free 2-day shipping | 30-day money back guarantee</p>
  <nav class="nav-header">
    <a href="" class="header-logo">
      <svg width="107" height="47">
        <use href="images/icons.svg#icon-headerlogo"></use>
      </svg>
    </a>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a href=""> Products </a>
      </li>
      <li class="nav-list-item">
        <a href=""> How it works </a>
      </li>
      <li class="nav-list-item">
        <a href=""> Technology </a>
      </li>
      <li class="nav-list-item"> 
        <a href=""> eero Secure </a>
      </li>
      <li class="nav-list-item">
        <a href=""> Support </a>
      </li>
      <li class="nav-list-item">
        <a href=""> Find your system </a>
      </li>
    </ul>

    <button type="button" class="nav-button">Shop</button>
  </nav>
</header>
