<header>
  <p>Free 2-day shipping | 30-day money back guarantee</p>
  <nav>
    <a href="">Eero</a>
    <ul>
      <li>
        <a href=""> Products </a>
      </li>
      <li>
        <a href=""> How it works </a>
      </li>
      <li>
        <a href=""> Technology </a>
      </li>
      <li> 
        <a href=""> eero Secure </a>
      </li>
      <li>
        <a href=""> Support </a>
      </li>
      <li>
        <a href=""> Find your system </a>
      </li>
    </ul>

    <button type="button">Shop</button>
  </nav>
</header>
